body {
    background: grey;
    display: flex;
    flex-direction: column;
}

.red1,
.red2 {
    background-color: #ed1b24;
    box-sizing: border-box;
    width: auto;
    height: 45px;
    display: flex;

}

.white1,
.white2 {
    background-color: white;
    box-sizing: border-box;
    width: auto;
    height: 45px;
    display: flex;
}

.blue1,
.blue2 {
    background-color: #003eff;
    box-sizing: border-box;
    width: auto;
    height: 80px;
    display: flex;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: white;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    margin-top: 1px;
  }


.white3 {
   background-color: white;
   box-sizing: border-box;
   width: auto;
   height: 650px;
   display: flex;
}

.rectangle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 180px;
    background: #003eff;
    margin-top: 130px;
    margin-left: 45px;
}

.invite {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: white;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-shrink: 0;
    margin-right: 21px;
    margin-top: 55px;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #ed1b24;
    font-size: 15px;
    border-color: #ed1b24;
    margin-bottom: 30px;
    margin-right: 355px;
    margin-top: 20px;
}

.call-to-action {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: white;
    font-size: 15px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-shrink: 0;
    margin-top: -50px;
    margin-right: 63px;
}


.blue2 {
   background-color: #003eff;
   box-sizing: border-box;
   width: auto;
   height: 60px;
   display: flex;
}

a {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    flex: 1;  
    text-decoration: none;
}

ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: auto;
    padding: auto;
    gap: 30px;
}

li {
    padding-top: 0;
}

.header {
    display: flex;
    justify-content:space-around;

}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    font-size: 15px;
    flex: 1;
}

img {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: auto;
    height: auto;
    margin: 40px 40px;
    margin-left: 600px;
}


.red4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: #003eff;
    width: 550px;
    height: 180px;
    margin: 40px 40px;
    margin-left: 600px;
}

.right-side {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    margin-left: 1210px;
}

.sign-in-button {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #ed1b24;
    font-size: 15px;
    border-color: white;
}

.rectangle2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 180px;
    background: #003eff;
    margin-top: 130px;
    margin-left: 550px;
}

.invite2 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: white;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-shrink: 0;
    margin-right: 108px;
    margin-top: 55px;
}

.button2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #ed1b24;
    font-size: 15px;
    border-color: #ed1b24;
    margin-bottom: 30px;
    margin-right: 355px;
    margin-top: 20px;
}

.call-to-action2 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: white;
    font-size: 15px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-shrink: 0;
    margin-top: -50px;
    margin-right: 130px;
}

.rectangle3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 180px;
    background: orange;
    flex: 1;
    margin-top: 500px;
}



